// ----------------------------------------------------------------------------
// Media Query
// ----------------------------------------------------------------------------
$breakpoint: (
  sp: 'screen and (max-width: 768px)',
  pc: 'print, screen and (min-width: 769px)',
  pc_wide: 'print, screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}


// ----------------------------------------------------------------------------
// hover
// ----------------------------------------------------------------------------
@mixin hover {
  @media (hover: hover) and (pointer: fine)  {
    &:hover {
      @content;
    }
  }
}



// ----------------------------------------------------------------------------
// Only Safari
// ----------------------------------------------------------------------------
@mixin only_safari {
  @at-root _::-webkit-full-page-media, _:future, :root & {
    @content;
  }
}
