@use "sass:math";
@use "./settings" as *;
@use "../mixin" as *;

@include mq($device){
  #top_ui{
    &.page_layout {
      width: 100%;

      .layout_inner {
        padding-top: 95px;
      }
    }

    .index_common_txt1{
      margin-top: 16px;
    }

    .top_category_items {

      margin-top: 15px;

      .category_item{
        &:not(:last-child){
          margin-bottom: 5px;
        }
        .item_link{
          padding: 5px 0;
          text-decoration: underline;
          font-weight: bold;
          text-decoration-color: #38bdf8;
          color: #fff;
          display: block;

          @include hover{
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }
}
